# ignore everything
/*
#
# except these files
!README.md
!LICENSE
!docker-compose.yml
!.editorconfig
!.gitignore
!.devcontainer.json
!generate-env.sh
!ncac-phpcs-standard.code-workspace
!.github
!.env.example
!.release-it.json
!package.json
!CHANGELOG.md
!pnpm-lock.yaml
!composer.json
!composer.lock
!CONTRIBUTING.md
!KNOWN-ISSUES.md
!codecov.yml
!ruleset.xml
!psalm.xml
!psalm-autoload.php
!build.xml
!phpunit.xml
!test-sniffs.php
!.yamllint.yml
!.husky
!docs
!scripts
!e2e-tests
#
# docker
!.docker
.docker/*
!.docker/Dockerfile
!.docker/php-config
.docker/php-config/*
!.docker/php-config/php.ini
!.docker/php-config/xdebug-cli.ini.temp
!.docker/php-logs
.docker/php-logs/*
!.docker/php-logs/.gitkeep
!.docker/post-create-command.sh
!.docker/generate-env.sh
#
#
!/NCAC
!/tests

